body {
  /* font-family: 'IM Fell English', serif;
font-family: 'IM Fell DW Pica SC', serif;
font-family: 'Karma', serif; */
  font-family: "Source Serif Pro", serif;
}

.navbar-brand,
.title-text {
  font-family: "IM Fell DW Pica SC", serif;
}
/* /////////////////////////Home/////////////////////////// */
.home img {
  margin-top: -50px;
  height: 100vh;
}

.title-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
}

.title-text {
  font-size: 10rem;
  color: white;
  z-index: 1;
}

.title-description {
  font-size: 1.5rem;
}

.home-btn {
}
