body {
  /* font-family: 'IM Fell English', serif;
font-family: 'IM Fell DW Pica SC', serif;
font-family: 'Karma', serif; */
  font-family: "Source Serif Pro", serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: rgb(82, 150, 82);
}

.special-font {
  font-family: "IM Fell DW Pica SC", serif;
}

.navbar {
  z-index: 2;
}

.video-container {
  height: auto;
}

.dropdown-item:hover {
  background-color: rgb(46, 46, 46);
}

#activities {
  padding: 200px 0 50px 0;
}

/* /////////////////////////Home/////////////////////////// */
.home .carousel img {
  margin-top: -50px;
  min-height: 100vh;
  object-fit: cover;
}

.centered-text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
}

.title-text {
  font-size: 4rem;
  color: white;
}

.title-description {
  font-size: 1rem;
  text-shadow: 3px 2px 2px black, 1px 2px 1em #00000a, 4px 2px 0.2em #000002;
}

/* ///////////////////////About/////////////////////////////// */

.about {
  width: 90%;
  margin: 3rem 0;
}

.about p {
  font-size: 1rem;
  line-height: 1.5rem;
}

/* ///////////////////////Info Boxes/////////////////////////////// */
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.hovereffect:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.info-box {
  height: 300px;
  width: 300px;
  cursor: pointer;
}

.info-container img {
  width: 300px;
  object-fit: cover;
}

.info-text {
  font-weight: 700;
  color: white;
  font-size: 2.25rem;
  text-shadow: 2px 2px 4px #000000;
}

/* ///////////////////////////News////////////////////////////////// */
.news {
  font-size: 5rem;
  margin: 5rem 0 2rem 0;
}

.mult-news .card-img-top {
  height: 150px;
  object-fit: cover;
}

.card-body a,
.description a {
  color: #882b00;
}

.ind-news {
  width: 90%;
  margin: 0 auto;
}

/* ///////////////////////////Footer////////////////////////////////// */
.copyright {
  background-color: black;
}

.copyright i {
  margin: 0 1rem;
}

.footer-list a {
  font-size: 1.25rem;
}

.copyright h4 {
  text-align: center;
}

/* ////////////////////Media Queries///////////////////////////// */
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}
/* 
// Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* /////////////////////////Home/////////////////////////// */
  .home .carousel img {
    margin-top: -50px;
    max-height: 100vh;
  }

  .title-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .title-text {
    font-size: 10rem;
  }

  .title-description {
    font-size: 1.5rem;
  }

  /* ///////////////////////About/////////////////////////////// */
  .about {
    width: 80%;
    margin: 7rem 0;
  }

  .about p {
    font-size: 1.25rem;
    line-height: 2.5rem;
  }
  .video-container {
    height: 700px;
  }
  /* /////////////////////News/////////////// */
  .ind-news {
    width: 40%;
  }

  /* ///////////////////////////Footer////////////////////////////////// */
  .copyright i {
    margin: 0 1rem;
  }

  .copyright h4 {
    text-align: left;
    margin-left: 2rem;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
